* {
    box-sizing: border-box;
}

body{

    margin:0;

    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 1em;
}

/*------------*\
    CABECALHO
\*------------*/

.layout-cabecalho{
    height: 106px;
    border-bottom: 1px solid #ccc;
}

.layout-cabecalho--home{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

h1{
    margin: 0;
}

header img{
    margin-top:3px;
}

/*Ajuste cabeçalho*/
.container{
    width:100%;
    padding-left: 15px;
    padding-right: 15px;
    margin:0 auto;
    background-color: #f6eeff;
}

article{
    background-color: green;
    padding: 0;
    margin-top:103px;
}


.coluna1, .coluna2{
    background-color: #ccc;
}

.coluna1{
    float:left;
    width: 48%;
}

.coluna2{
    float:right;
    width: 48%;
}

@media(max-width: 900px){
    .coluna1 {
        width:90%;
    }

    .coluna2{
        width: 90%;
    }
}

footer{
    background-color: #f6eeff;
}

.clearfix{
    clear: both;
}


/*------------*\
   RODAPE
\*------------*/

.layout-rodape{
    padding: 40px 0;

    color: black;
    text-align: center;
    
    font-size:0.7em;

    background-color: #f6eeff;
}